# (Data Science Tools and Ecosystem)

In [1]:
# In this notebook, Data Science Tools and Ecosystem are summarized.

In [2]:
Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala

<class 'SyntaxError'>: invalid syntax (<ipython-input-2-1c90b8cf25a8>, line 1)

In [3]:
Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

<class 'SyntaxError'>: invalid syntax (<ipython-input-3-733fb19f69d9>, line 1)

In [4]:
| Data Science Tools        |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| Apache Zeppelin           |

<class 'SyntaxError'>: invalid syntax (<ipython-input-4-684fb8d7e61d>, line 1)

In [5]:
### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [7]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

In [8]:
**Objectives:**

- List popular languages for Data Science
- Identify commonly used libraries in Data Science
- Describe open-source tools used in Data Science
- Show examples of basic arithmetic operations in Python
- Convert units such as minutes to hours using Python code

<class 'SyntaxError'>: invalid syntax (<ipython-input-8-1601fb9a8462>, line 1)

In [9]:
## Author

Your Name

<class 'SyntaxError'>: invalid syntax (<ipython-input-9-005477ab2ab2>, line 3)

In [10]:
## Author

Noemi Csillag

<class 'SyntaxError'>: invalid syntax (<ipython-input-10-2d1276f8cb84>, line 3)